{% extends 'header.html' %}
{% load static%} 
{% block contents %}
<div class="about">
    <img src="{% static 'images/background.jpeg' %}" class="about_image" />
</div>
<div class="aboutme">
    <p>Hello! I'm <b> Anusha Chaudhary</b>, a passionate and motivated fresher with a solid foundation in Django and Python. My journey in programming started with a love for technology and problem-solving, leading me to explore web development.
       <br>
        Skills <br>
        Python: Proficient in writing clean, efficient code. <br>
        Django: Experience with building basic web applications, working with models, views, and templates.
        HTML & CSS: Good understanding of creating simple, effective web interfaces. <br>
        Git: Familiar with version control for managing codebases. <br>
        
        <br><br>
        Personal Attributes <br>
        Quick Learner: Eager to grasp new concepts and technologies. <br>
        Problem-Solver: Enjoy tackling challenges with a positive, analytical mindset. <br>
        Team Player: Value collaboration and sharing knowledge. <br>
        Contact <br>
        Feel free to reach out to me via <u> onusha45@gmail.com </u> for opportunities, collaborations, or simply to connect.
        <br>
        Thank you for reading about me. I'm excited to contribute to exciting projects and grow in the web development field!
        
        </p>
</div>
{% endblock %}