{% extends 'header.html' %}

{% block contents %}

<div class="contact">
  <form  id ="contactForm" action="/protfolio/Savecontact/" method="post" onsubmit="return formvalidation()">
    {% csrf_token %}
    <label for="fname">Name</label>
    <input type="text" name="fname" id="fname" placeholder="Enter your First Name" >
    <label for="lname">Last Name</label>
    <input type="text" name="lname" id="lname" placeholder="Enter your Surname" >
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Write Your Email" required>
    <label for="textarea">Description</label>
    <textarea name="content" id="textarea" cols="30" rows="10" class="popinss" placeholder="Write your message"></textarea>
    <button type="submit" id="submit">Send</button>
  </form>
</div>

<script>
  function formvalidation(){
    var firstname = document.getElementById("fname").value;
    var email = document.getElementById("email").value;

    var isFirstnameValid = checkfname(firstname);
    if (isFirstnameValid == false){
      alert("First name must contain more than 3 letters");
      
    }
    var isEmailValid = checkEmail(email);
    if (isEmailValid == false){
      alert("Please provide a valid email");
    }
    return true;
  }

  function checkfname(firstname){
    return firstname.length > 3;
  }

  function checkEmail(email){
    var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
    return emailPattern.test(email);
  }
</script>
{% endblock %}
