{% extends 'header.html' %}
   
{% block contents %}
<div class="Projects">
   <div>
    <div class="project1"><h1>Employee Management System</h1></div>
    <div> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ipsa nobis tempora, voluptate illum nihil consequuntur repudiandae velit iusto in, esse quam nam non ut rem, blanditiis sapiente facilis veniam!</p></div>
    <div class="button flex s-around">
        <a href="" target="_blank" class="btn mx-1 m-top">GitHub</a>

    </div>
   </div>
   <div>
    <div class="project2"><h1>Employee Management System</h1></div>
    <div> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ipsa nobis tempora, voluptate illum nihil consequuntur repudiandae velit iusto in, esse quam nam non ut rem, blanditiis sapiente facilis veniam!</p></div>
    <div class="button flex s-around">
        <a href="" target="_blank" class="btn mx-1 m-top">GitHub</a>

    </div>
   </div>
  
</div>
{% endblock %}