{% extends 'header.html' %}


{% block contents %}
<div class="skillsbar">
    <h1>My Skills</h1>

<p>HTML</p>
<div class="container">
  <div class="skills html">90%</div>
</div>

<p>CSS</p>
<div class="container">
  <div class="skills css">80%</div>
</div>

<p>My sql</p>
<div class="container">
  <div class="skills mysql">30%</div>
</div>
<p>JavaScript</p>
<div class="container">
  <div class="skills js">40%</div>
</div>

<p>Python Django</p>
<div class="container">
  <div class="skills python">70%</div>
</div>
</div>
{% endblock %}